@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время обработки Вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режимра разботчкика</h3>
<p>
    При переходе в среду <strong>Разработки</strong> отобразится более подробная информация о произошедшей ошибке.
</p>
<p>
    <strong>Не следует включать среду разработки в развернутых приложениях</strong>, поскольку это может привести к тому, что конечным пользователям будет отображена конфиденциальная информация из исключений. Для локальной отладки можно включить среду разработки, задав для переменной среды <strong>ASPNETCORE_ENVIRONMENT</strong> значение <strong>Development</strong> и перезапустив приложение.
</p>
