@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container mt-5">
    <div class="row mt-5">
        <h2>Управление аккаунтом</h2>
        <div class="row mt-5">
            <aside class="col-md-3 p-2">
                <partial name="_ManageNav" />
            </aside>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
